body{
    background-color:#D61E7A;
}

.todo-body{
    width:50%;
    background-color: #3a3636;
    color:white;
}

.table{
    background-color: #3a3636;
}

.g-10{
    gap:70px
}

.text-pink{
    color:#D61E7A
}

.rotate{
    transform: rotate(-20deg);
}
ul{
    text-indent: none;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color:white
}


.input-style{
    outline:none !important;
    border:none !important
}

header li a{
    display:inline-block;
    color:rgb(155, 141, 141);
    width:fit-content;
    height:fit-content;
    padding-top:10px;
    padding-bottom:10px;
}

header li a:hover, .current{
    border-bottom:#D61E7A 2px solid;
    color:white !important;
    transform:scale(1.1)
}